node_modules
*/node_modules
mobile/node_modules
dist
mobile/dist
.expo
mobile/.expo
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
*.json
!package.json
!package-lock.json
!tsconfig.json
!vercel.json
!mobile/**/*.json
!mobile/*.json

# Excluded temporary directories
android/
attached_assets/
.env
