# =================================================================================
# SabiRight Mobile Native Environment Template (Expo React Native)
# =================================================================================

EXPO_PUBLIC_SUPABASE_URL=https://njtwsuwlxbfxvzbmsrzr.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5qdHdzdXdseGJmeHZ6Ym1zcnpyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTExMzQ3NjYsImV4cCI6MjEwNjcxMDc2Nn0.x9SgIrKbm6Nt40rO8hIjRSqe3OuIPecX0pj97x1Jq7U
EXPO_PUBLIC_API_URL=http://localhost:5000
